/**/
:root{
    --primary: rgba(42, 74, 140, 1);
    --secondary: rgba(65, 107, 191, 1);
    --tertiary: rgba(10, 152, 230, 1);
    --text: rgba(255, 255, 255, 1);
    --accent: rgba(242, 151, 41, 1);
    --warning: rgba(191, 106, 3, 1);
}
* { padding: 0; margin: 0; }
html { font-family: Arial, Helvetica, sans-serif; }
footer{ text-align: justify; position: static; display: block; background-color: rgba(112, 128, 144, 0.5); }
section{ margin-left: 25%; }

/* Special Classes */
.experience {  }
   

.skills-header{  }

.skills-table { font-family:  }
.skills-list {  }
.skill-item{  }

.footer-icon{ height: 24px; width: 24px; vertical-align: bottom; }
    
.footer-link{ text-decoration: none; color: black; vertical-align: middle; 
    font-size: 16px; }

.footer-part{ margin: 0% 0%; height: fit-content; width: max-content; }

.footer-part:hover,
.footer-part:active{ box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.2); }

.profile-image{  }



/* ID Tags */
#landing { top: 0; left: 0; height: 100vh; display: flex; position: static; flex-direction: column;
    line-height: 1.5; background-position: center; background-size: cover;
    justify-content: center; align-items: center; text-align: center; padding: 0px 20px;
    color: var(--accent); text-shadow: 1px 1px rgba(0, 0, 0, 1);
    background-image: url('../img/beehive.jpg');
}

#landing h1{ line-height: 1.2; font-size: 80px; }

#landing p{ font-size: 30px; }

#landing a{ text-decoration: none; color: var(--text); border: 1px solid var(--accent);
    border-radius: 10px; margin: 20px 0px; padding: 10px 20px; font-size: 20px;
}

/* Side Nav */
#sidenav { display: none; position: fixed; top: 0; left: 0; z-index: 1;
    text-align: justify;
}

#sidenav ul{ list-style: none; margin: 0; padding: 0; border: black 1px solid; width: 25%;
    background-color: var(--primary); }
    
#sidenav a{ font-size: 30px; text-decoration: none; color: var(--accent); }

#sidenav li{ margin: 0% 10%; }
    

#introduction {  }
#personal-summary {  }
#professional-experiences { } 

