/**/
:root{
    --primary: rgba(42, 74, 140, 1);
    --secondary: rgba(65, 107, 191, 1);
    --tertiary: rgba(10, 152, 230, 1);
    --text: rgba(255, 255, 255, 1);
    --accent: rgba(242, 151, 41, 1);
    --accent-2: rgba(191, 106, 3, 1);
}
* { padding: 0; margin: 0; }
html { font-family: Arial, Helvetica, sans-serif; }

#landing { top: 0; left: 0; height: 100vh; display: flex; position: static; flex-direction: column;
    line-height: 1.5; background-position: center; background-size: cover;
    justify-content: center; align-items: center; text-align: center; padding: 0px 20px;
    color: var(--accent); text-shadow: 1px 1px rgba(0, 0, 0, 1);
    background-image: url('../img/beehive.jpg');
}
#landing h1{ line-height: 1.2; font-size: 80px; }
#landing p{ font-size: 30px; }

#landing a:hover{ box-shadow: 0px 0px 5px 5px rgba(112, 128, 144, 0.5); }


#resume-link{ text-decoration: none; color: var(--text); }
#resume{ padding: 20px; text-align: center; margin: 2px 0px; color: var(--text); 
    font-size: 50px; background-color: var(--accent); }


#project-link{ text-decoration: none; color: var(--accent-2); }
#projects{ padding: 20px; text-align: center; margin: 5px 0px;
    background-color: #f9f9f9; font-size: 50px; }


#published-link{ text-decoration: none; color: var(--text); }
#published{ padding: 20px; text-align: center; line-height: 1.5; 
    background-color: var(--accent-2); font-size: 50px; }
