:root{
   
    --primary: rgb(255, 140, 0);
    --secondary: rgb(226, 152, 14);
    --tertiary: #BF6A03;
    --text: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 200px) and (max-width: 480px){
    .fab-icon-holder{ margin: 0; }
}

@media screen and (min-width: 481px) and (max-width: 768){
    .fab-icon-holder{ margin-right: 10px; }
}


html { font-family: Arial, Helvetica, sans-serif; background-image: url('../img/beehive.jpg'); 
    background-repeat: no-repeat; background-attachment: fixed;}
section{ margin: 0% 25%; }

/* FAB */
.fab{ cursor: pointer; }

.fab-container{ position: fixed; bottom: 50px; right: 0px; z-index: 999;margin-right: 20%; }

.fab-icon-holder{ margin: 0; width: 75px; height: 75px; border-radius: 100%;
    background-color: var(--secondary); box-shadow: 0 6px 20px rgba(0,0,0,0,2); }

.fab-icon-holder a{ text-decoration: none; }

.fab-icon-holder i{ display: flex; align-items: center; justify-content: center; 
    height: 100%; font-size: 25px; color: var(--text); }

.fab-icon-holder:hover{ opacity: 0.8; }

.fab-options{ list-style: none; position: absolute; bottom: 70px; right: 0px;
    opacity: 0; transform: scale(0); transform-origin: 85% bottom;
    transition: all 0.5s ease; }

.fab-options li{ padding: 5px 0px; display: flex; justify-content: flex-end;
    align-items: center; }

.fab-label{ padding: 5px 10px; margin-right: 10px; align-self: center;
    user-select: none; white-space: nowrap; border-radius: 3px; font-size: 12px;
    background-color: #666666; color: var(--text);
    box-shadow: 0 6px 20px rgba(0,0,0,0,0.2); }

.fab:hover + .fab-options, .fab-options:hover { opacity: 1; transform: scale(1) ; }




/* #skills{}

#experience { }  */


.icon{ height: 24px; width: 24px; vertical-align: bottom; }

/* Special Classes */
.collapse{  
    background-color: #eeeeee; 
    color: #444444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 40px;
}
.active, .collapse:hover{
    background-color: #cccccc;
}
.content{ 
    /* max-height: 0; */
    /* display: none;  */
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
}
/* .experience {  } */
   

/* .skills-header{  } */

/* .skills-table { font-family:  } */
/* .skills-list {  } */
/* .skill-item{  } */
